input, button, select{
    background-color: black;
    border-radius: 16px;
    text-align: center;
    padding: 8px 4px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    width: 300px;
    font-size: 1.20rem;
    font-weight: bold;
}

label{
    font-size: 1.20rem;
    font-weight: bold;
}

button{
    cursor: pointer;
    background-color: black;
    color: #126bb8;
    border: 2px solid white;
    transition: 0.3s;
}

.resposta, .resposta_nome{
    font-size: 1.20rem;
    color: white;
    font-weight: bold;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Segoe UI';
}

th{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}

th, td, th {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}

.card{
    background-color: black;
    border: 2px solid white;
    border-radius: 16px;
    padding: 8px;
    text-align:left;
    font-family: 'Segoe UI';
    color: white;
    width: 200px;
    margin-left: 100px;
}

.card h2{
    color: rgb(67, 152, 249);
    font-size: 1.6rem;
    margin-bottom: 16px;
    padding: 4px;
    text-align: center;
}

.card p{
    margin-left: 12px;
    font-size: 1.2rem;
}

.card strong{
    color: white;
    font-weight: bold;
}
